.cute {
    color: green;
    text-decoration:  underline;

}

div p {
    font-size: 2rem;
}

div {
    padding: 10px;
    margin: 1rem;
    background-color: lightgrey;
}

span {
    text-transform: uppercase;
    font-weight: bold;
}

#dogText {
    position: fixed;
}

* {
    border: 1px solid gray;
}

h1 {
    border:none;
}